.container {
    position: relative;
    color: white;
  }
  .nav-link1 {
      position: absolute;
      top: 8px;
      left: 16px;
  }
  .nav-link2 {
    position: absolute;
    top: 48px;
    left: 16px;
}
.nav-link3 {
    position: absolute;
    top: 88px;
    left: 16px;
}  .nav-link4 {
    position: absolute;
    top: 128px;
    left: 16px;
}  .nav-link5 {
    position: absolute;
    top: 168px;
    left: 16px;
}  .nav-link6 {
    position: absolute;
    top: 208px;
    left: 16px;
}