.container {
    position: relative;
    color: white;
    padding: 0px;
}

#background {
    width: 100%;
}

#logo {
    position: absolute;
    top: 20px;
    left:20px;
    width: 12%;
}

a {
    color: white;
}

.nav-link1 {
    position: absolute;
    top: 118px;
    left: 20px;
}
.nav-link2 {
    position: absolute;
    top: 158px;
    left: 20px;
}
.nav-link3 {
    position: absolute;
    top: 198px;
    left: 20px;
}  
.nav-link4 {
    position: absolute;
    top: 238px;
    left: 20px;
}  
.nav-link5 {
    position: absolute;
    top: 278px;
    left: 20px;
}  
.nav-link6 {
    position: absolute;
    top: 318px;
    left: 20px;
}

